@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Start</h1>
    <p>W tym przykładzie przykładzie przykładzie przykładzie przykładzie przykładzie przykładzie przykładzie przykładzie przykładzie</p>
</div>

<div>
    <div class="text-center mt-5">
        <div class="d-block mt-5 mb-5">
            <select id="operationOption" class="form-select d-inline" style="width:250px;">
                <option selected disabled hidden>Proszę wybrać opcję</option>
                <option value="1">Get (identyfikator)</option>
                <option value="2">Get (nazwa)</option>
                <option value="3">Get z relacją (identyfikator)</option>
                <option value="4">Get z relacją (nazwa)</option>
                <option value="5">Create</option>
                <option value="6">Update</option>
                <option value="7">Delete</option>
            </select>
            <input id="count" class="form-control" type="number" style="width:150px;margin-left:auto;display:none;" />
        </div>
        <div class="mb-4 mt-0">
            <div id="idParamDiv" style="display:none;">
                <p>Parametr</p>
                <input id="idParam" class="form-control" type="number" />
            </div>
            <div id="phraseParamDiv" style="display:none;">
                <p>Parametr</p>
                <input id="phraseParam" class="form-control" type="text" />
            </div>
            <div id="idsEntityParamDiv" style="display:none;">
                <textarea id="idsEntityParam"></textarea>
            </div>
            <div id="idsDapperParamDiv" style="display:none;">
                <textarea id="idsDapperParam"></textarea>
            </div>
            <div id="idsNHibernateParamDiv" style="display:none;">
                <textarea id="idsNHibernateParam"></textarea>
            </div>
            <div id="createParamDiv" style="display:none;">
                <p>Parametry</p>
                <input id="shipNameParam" class="form-control" type="text" />
                <input id="shipAddressParam" class="form-control" type="text" />
                <input id="shipCityParam" class="form-control" type="text" />
                <input id="shipRegionParam" class="form-control" type="text" />
                <input id="shipPostalCodeParam" class="form-control" type="text" />
                <input id="shipCountryParam" class="form-control" type="text" />
            </div>
        </div>
        <a class="btn btn-dark font-weight-bold" id="start" onclick="start();" style="display:none;">Rozpocznij test</a>
    </div>
    @*    <div class="spinner-border text-dark" role="status">
        <span class="sr-only"></span>
        </div>*@
    <div class="row text-center mt-5">
        <div class="col-4">
            <p>Entity Framework</p>
            <div><img alt="Entity Framewok" src="./img/entityFramework.png" style="width:15vw;height:25vh" /></div>
            <div id="entitySpinner" class="spinner-grow text-dark" role="status" style="display:none;">
                <span class="sr-only"></span>
            </div>
            <p id="entityTime">- s</p>
            <pre id="resultEntity"></pre>
        </div>
        <div class="col-4">
            <p>Dapper</p>
            <div><img alt="Dapper" src="./img/entityFramework.png" style="width:15vw;height:25vh" /></div>
            <div id="dapperSpinner" class="spinner-grow text-dark" role="status" style="display:none;">
                <span class="sr-only"></span>
            </div>
            <p id="dapperTime">- s</p>
            <pre id="resultDapper"></pre>
        </div>
        <div class="col-4">
            <p>NHibernate</p>
            <div><img alt="NHibernate" src="./img/entityFramework.png" style="width:15vw;height:25vh" /></div>
            <div id="nHibernateSpinner" class="spinner-grow text-dark" role="status" style="display:none;">
                <span class="sr-only"></span>
            </div>
            <p id="nHibernateTime">- s</p>
            <pre id="resultNHibernate"></pre>
        </div>
    </div>
</div>


@section Scripts{
<script type="text/javascript">
    $('#operationOption').on('change', function() {
        $("#idParamDiv").hide();
        $("#phraseParamDiv").hide();
        $("#createParamDiv").hide();
        $("#idsEntityParamDiv").hide();
        $("#idsDapperParamDiv").hide();
        $("#idsNHibernateParamDiv").hide();
        $("#count").hide();
        $("#start").hide();

        switch(this.value) {
           case "1":
             $("#idParamDiv").show();
             $("#count").show();
             $("#start").show();
             break;
           case "2":
            $("#phraseParamDiv").show();
            $("#count").show();
            $("#start").show();
             break;
           case "3":
            $("#idParamDiv").show();
            $("#count").show();
            $("#start").show();
             break;
          case "4":
             $("#phraseParamDiv").show();
             $("#count").show();
             $("#start").show();
             break;
           case "5":
             $("#createParamDiv").show();
             $("#count").show();
             $("#start").show();
             break;
           case "6":
            $("#idsEntityParamDiv").show();
            $("#idsDapperParamDiv").show();
            $("#idsNHibernateParamDiv").show();
            $("#createParamDiv").show();
            $("#start").show();
           break;
          case "7":
            $("#idsEntityParamDiv").show();
            $("#idsDapperParamDiv").show();
            $("#idsNHibernateParamDiv").show();
            $("#start").show();
           break;
         }
    });

     function start(){
         $("#entityTime").html("- s");
         $("#resultEntity").html("");

         $("#dapperTime").html("- s");
         $("#resultDapper").html("");

         $("#nHibernateTime").html("- s");
         $("#resultNHibernate").html("");

         var count = $("#count").val();
         var option = $('#operationOption').find(":selected").val();

         switch(option) {
           case "1":
             var id = $("#idParam").val();
             getEntity(id, count);
             break;
           case "2":
             var phrase = $("#phraseParam").val();
             getExtendedEntity(phrase, count);
             break;
           case "3":
             var id = $("#idParam").val();
             getWithJoinEntity(id, count);
             break;
           case "4":
             var phrase = $("#phraseParam").val();
             getWithJoinExtendedEntity(phrase, count);
             break;
           case "5":
             var create = {
                 ShipName: $("#shipNameParam").val(),
                 ShipAddress: $("#shipAddressParam").val(),
                 ShipCity: $("#shipCityParam").val(),
                 ShipRegion: $("#shipRegionParam").val(),
                 ShipPostalCode: $("#shipPostalCodeParam").val(),
                 ShipCountry: $("#shipCountryParam").val()
             }
             createEntity(create, count);
             break;
            case "6":
             var ids = JSON.parse($("#idsEntityParam").val());
             var update = {
                 ShipName: $("#shipNameParam").val(),
                 ShipAddress: $("#shipAddressParam").val(),
                 ShipCity: $("#shipCityParam").val(),
                 ShipRegion: $("#shipRegionParam").val(),
                 ShipPostalCode: $("#shipPostalCodeParam").val(),
                 ShipCountry: $("#shipCountryParam").val()
             }
             updateEntity(ids,update)
             break;
           case "7":
             var ids = JSON.parse($("#idsEntityParam").val());
             deleteEntity(ids)
             break;
           default:
             alert("Proszę wybrać opcję")
         }
     }

     //==================================================================================== GET
     function getEntity(id, count) {
         $("#entitySpinner").show();
         $.ajax({
             url: '/Entity/Get',
             data: { id: id, count: count },
             type: 'GET',
             dataType: 'json',
             success: function (data) {

                 if(data.result[0] == null)
                     $("#resultEntity").html("Nie znaleziono");
                 else{
                    $("#resultEntity").html(JSON.stringify(data.result[0], null, 4));
                 }

                $("#entityTime").html(data.time);
             },
             error: function (xhr, status) {
                 alert('Przepraszamy, wystąpił problem!');
             },
             complete: function (xhr, status) {
                 $("#entitySpinner").hide();
                 getDapper(id, count)
             }
         });
     }

     function getDapper(id, count) {
         $("#dapperSpinner").show();
         $.ajax({
             url: '/Dapper/Get',
             data: { id: id, count: count },
             type: 'GET',
             dataType: 'json',
             success: function (data) {

                 if(data.result[0] == null)
                     $("#resultDapper").html("Nie znaleziono");
                 else{
                    $("#resultDapper").html(JSON.stringify(data.result[0], null, 4));
                 }

                $("#dapperTime").html(data.time);
             },
             error: function (xhr, status) {
                 alert('Przepraszamy, wystąpił problem!');
             },
             complete: function (xhr, status) {
                 $("#dapperSpinner").hide();
                 getNHibernate(id, count);
             }
         });
     }

      function getNHibernate(id, count) {
         $("#nHibernateSpinner").show();
         $.ajax({
             url: '/NHibernate/Get',
             data: { id: id, count: count },
             type: 'GET',
             dataType: 'json',
             success: function (data) {

                 if(data.result[0] == null)
                     $("#resultNHibernate").html("Nie znaleziono");
                 else{
                    $("#resultNHibernate").html(JSON.stringify(data.result[0], null, 4));
                 }

                $("#nHibernateTime").html(data.time);
             },
             error: function (xhr, status) {
                 alert('Przepraszamy, wystąpił problem!');
             },
             complete: function (xhr, status) {
                 $("#nHibernateSpinner").hide();
             }
         });
     }

     //==================================================================================== GET EXTENDED
     function getExtendedEntity(phrase, count) {
         $("#entitySpinner").show();
         $.ajax({
             url: '/Entity/GetExtended',
             data: { phrase: phrase, count: count },
             type: 'GET',
             dataType: 'json',
             success: function (data) {

                 if(data.result[0] == null)
                     $("#resultEntity").html("Nie znaleziono");
                 else{
                    $("#resultEntity").html(JSON.stringify(data.result[0], null, 4));
                 }

                 $("#entityTime").html(data.time);
             },
             error: function (xhr, status) {
                 alert('Przepraszamy, wystąpił problem!');
             },
             complete: function (xhr, status) {
                 $("#entitySpinner").hide();
                 getExtendedDapper(phrase, count);
             }
         });
     }

     function getExtendedDapper(phrase, count) {
         $("#dapperSpinner").show();
         $.ajax({
             url: '/Dapper/GetExtended',
             data: { phrase: phrase, count: count },
             type: 'GET',
             dataType: 'json',
             success: function (data) {

                 if(data.result[0] == null)
                     $("#resultDapper").html("Nie znaleziono");
                 else{
                    $("#resultDapper").html(JSON.stringify(data.result[0], null, 4));
                 }

                 $("#dapperTime").html(data.time);
             },
             error: function (xhr, status) {
                 alert('Przepraszamy, wystąpił problem!');
             },
             complete: function (xhr, status) {
                 $("#dapperSpinner").hide();
                 getExtendedNHibernate(phrase, count);
             }
         });
     }

     function getExtendedNHibernate(phrase, count) {
         $("#nHibernateSpinner").show();
         $.ajax({
             url: '/NHibernate/GetExtended',
             data: { phrase: phrase, count: count },
             type: 'GET',
             dataType: 'json',
             success: function (data) {

                 if(data.result[0] == null)
                     $("#resultNHibernate").html("Nie znaleziono");
                 else{
                    $("#resultNHibernate").html(JSON.stringify(data.result[0], null, 4));
                 }

                 $("#nHibernateTime").html(data.time);
             },
             error: function (xhr, status) {
                 alert('Przepraszamy, wystąpił problem!');
             },
             complete: function (xhr, status) {
                 $("#nHibernateSpinner").hide();
             }
         });
     }
    //==================================================================================== GET WITH JOIN

     function getWithJoinEntity(id, count) {
         $("#entitySpinner").show();
         $.ajax({
             url: '/Entity/GetWithJoin',
             data: { id: id, count: count },
             type: 'GET',
             dataType: 'json',
             success: function (data) {

                 if(data.result[0] == null)
                     $("#resultEntity").html("Nie znaleziono");
                 else{
                    $("#resultEntity").html(JSON.stringify(data.result[0], null, 4));
                 }

                 $("#entityTime").html(data.time);
             },
             error: function (xhr, status) {
                 alert('Przepraszamy, wystąpił problem!');
             },
             complete: function (xhr, status) {
                 $("#entitySpinner").hide();
                 getWithJoinDapper(id, count);
             }
         });
     }

     function getWithJoinDapper(id, count) {
         $("#dapperSpinner").show();
         $.ajax({
             url: '/Dapper/GetWithJoin',
             data: { id: id, count: count },
             type: 'GET',
             dataType: 'json',
             success: function (data) {

                 if(data.result[0] == null)
                     $("#resultDapper").html("Nie znaleziono");
                 else{
                    $("#resultDapper").html(JSON.stringify(data.result[0], null, 4));
                 }

                 $("#dapperTime").html(data.time);
             },
             error: function (xhr, status) {
                 alert('Przepraszamy, wystąpił problem!');
             },
             complete: function (xhr, status) {
                 $("#dapperSpinner").hide();
                 getWithJoinNHibernate(id, count);
             }
         });
     }

     function getWithJoinNHibernate(id, count) {
         $("#nHibernateSpinner").show();
         $.ajax({
             url: '/NHibernate/GetWithJoin',
             data: { id: id, count: count },
             type: 'GET',
             dataType: 'json',
             success: function (data) {

                 if(data.result[0] == null)
                     $("#resultNHibernate").html("Nie znaleziono");
                 else{
                    $("#resultNHibernate").html(JSON.stringify(data.result[0], null, 4));
                 }

                 $("#nHibernateTime").html(data.time);
             },
             error: function (xhr, status) {
                 alert('Przepraszamy, wystąpił problem!');
             },
             complete: function (xhr, status) {
                 $("#nHibernateSpinner").hide();
             }
         });
     }

    //==================================================================================== GET WITH JOIN EXTENDED

    function getWithJoinExtendedEntity(phrase, count) {
         $("#entitySpinner").show();
         $.ajax({
             url: '/Entity/GetWithJoinExtended',
             data: { phrase: phrase, count: count },
             type: 'GET',
             dataType: 'json',
             success: function (data) {

                 if(data.result[0] == null)
                     $("#resultEntity").html("Nie znaleziono");
                 else{
                    $("#resultEntity").html(JSON.stringify(data.result[0], null, 4));
                 }

                 $("#entityTime").html(data.time);
             },
             error: function (xhr, status) {
                 alert('Przepraszamy, wystąpił problem!');
             },
             complete: function (xhr, status) {
                 $("#entitySpinner").hide();
                 getWithJoinExtendedDapper(phrase, count);
             }
         });
     }

         function getWithJoinExtendedDapper(phrase, count) {
         $("#dapperSpinner").show();
         $.ajax({
             url: '/Dapper/GetWithJoinExtended',
             data: { phrase: phrase, count: count },
             type: 'GET',
             dataType: 'json',
             success: function (data) {

                 if(data.result[0] == null)
                     $("#resultDapper").html("Nie znaleziono");
                 else{
                    $("#resultDapper").html(JSON.stringify(data.result[0], null, 4));
                 }

                 $("#dapperTime").html(data.time);
             },
             error: function (xhr, status) {
                 alert('Przepraszamy, wystąpił problem!');
             },
             complete: function (xhr, status) {
                 $("#dapperSpinner").hide();
                 getWithJoinExtendedNHibernate(phrase, count);
             }
         });
     }

     function getWithJoinExtendedNHibernate(phrase, count) {
         $("#nHibernateSpinner").show();
         $.ajax({
             url: '/NHibernate/GetWithJoinExtended',
             data: { phrase: phrase, count: count },
             type: 'GET',
             dataType: 'json',
             success: function (data) {

                 if(data.result[0] == null)
                     $("#resultNHibernate").html("Nie znaleziono");
                 else{
                    $("#resultNHibernate").html(JSON.stringify(data.result[0], null, 4));
                 }

                 $("#nHibernateTime").html(data.time);
             },
             error: function (xhr, status) {
                 alert('Przepraszamy, wystąpił problem!');
             },
             complete: function (xhr, status) {
                 $("#nHibernateSpinner").hide();
             }
         });
     }

    //==================================================================================== CREATE

    function createEntity(create, count) {
         $("#entitySpinner").show();
         $.ajax({
             url: '/Entity/Create',
             data: { count: count, create: create },
             type: 'POST',
             dataType: 'json',
             success: function (data) {

                 if(data.result[0] == null)
                     $("#resultEntity").html("Nie stworzono");
                 else{
                    $("#resultEntity").html(JSON.stringify(data.result, null, 4));
                 }

                 $("#entityTime").html(data.time);
             },
             error: function (xhr, status) {
                 alert('Przepraszamy, wystąpił problem!');
             },
             complete: function (xhr, status) {
                 $("#entitySpinner").hide();
                 createDapper(create, count)
             }
         });
     }

     function createDapper(create, count) {
         $("#dapperSpinner").show();
         $.ajax({
             url: '/Dapper/Create',
             data: { count: count, create: create },
             type: 'POST',
             dataType: 'json',
             success: function (data) {

                 if(data.result[0] == null)
                     $("#resultDapper").html("Nie stworzono");
                 else{
                    $("#resultDapper").html(JSON.stringify(data.result, null, 4));
                 }

                 $("#dapperTime").html(data.time);
             },
             error: function (xhr, status) {
                 alert('Przepraszamy, wystąpił problem!');
             },
             complete: function (xhr, status) {
                 $("#dapperSpinner").hide();
                 createNHibernate(create, count);
             }
         });
     }

     function createNHibernate(create, count) {
         $("#nHibernateSpinner").show();
         $.ajax({
             url: '/NHibernate/Create',
             data: { count: count, create: create },
             type: 'POST',
             dataType: 'json',
             success: function (data) {

                 if(data.result[0] == null)
                     $("#resultNHibernate").html("Nie stworzono");
                 else{
                    $("#resultNHibernate").html(JSON.stringify(data.result, null, 4));
                 }

                 $("#nHibernateTime").html(data.time);
             },
             error: function (xhr, status) {
                 alert('Przepraszamy, wystąpił problem!');
             },
             complete: function (xhr, status) {
                 $("#nHibernateSpinner").hide();
             }
         });
     }

     //==================================================================================== UPDATE

    function updateEntity(ids,update) {
        $("#entitySpinner").show();
        $.ajax({
            url: '/Entity/Update',
            data: { ids: ids, update: update },
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                $("#entityTime").html(data.time);
            },
            error: function (xhr, status) {
                alert('Przepraszamy, wystąpił problem!');
            },
            complete: function (xhr, status) {
                $("#entitySpinner").hide();
                updateDapper(update)
            }
        });
    }


    function updateDapper(update) {
        var ids = JSON.parse($("#idsDapperParam").val());
        $("#dapperSpinner").show();
        $.ajax({
            url: '/Dapper/Update',
            data: { ids: ids, update: update },
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                $("#dapperTime").html(data.time);
            },
            error: function (xhr, status) {
                alert('Przepraszamy, wystąpił problem!');
            },
            complete: function (xhr, status) {
                $("#dapperSpinner").hide();
                updateNHibernate(update);
            }
        });
    }

    function updateNHibernate(update) {
        var ids = JSON.parse($("#idsNHibernateParam").val());
        $("#nHibernateSpinner").show();
        $.ajax({
            url: '/NHibernate/Update',
            data: { ids: ids, update: update },
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                $("#nHibernateTime").html(data.time);
            },
            error: function (xhr, status) {
                alert('Przepraszamy, wystąpił problem!');
            },
            complete: function (xhr, status) {
                $("#nHibernateSpinner").hide();
            }
        });
    }

     //==================================================================================== DELETE

     function deleteEntity(ids) {
         $("#entitySpinner").show();
         $.ajax({
             url: '/Entity/Delete',
             data: { ids: ids },
             type: 'POST',
             dataType: 'json',
             success: function (data) {

                 if(data.result[0] == null)
                     $("#resultEntity").html("Nie stworzono");
                 else{
                    $("#resultEntity").html(JSON.stringify(data.result, null, 4));
                 }

                 $("#entityTime").html(data.time);
             },
             error: function (xhr, status) {
                 alert('Przepraszamy, wystąpił problem!');
             },
             complete: function (xhr, status) {
                 $("#entitySpinner").hide();
                 deleteDapper();
             }
         });
     }

     function deleteDapper() {
        var ids = JSON.parse($("#idsDapperParam").val());
        $("#dapperSpinner").show();
         $.ajax({
             url: '/Dapper/Delete',
             data: { ids: ids },
             type: 'POST',
             dataType: 'json',
             success: function (data) {

                 if(data.result[0] == null)
                     $("#resultDapper").html("Nie stworzono");
                 else{
                    $("#resultDapper").html(JSON.stringify(data.result, null, 4));
                 }

                 $("#dapperTime").html(data.time);
             },
             error: function (xhr, status) {
                 alert('Przepraszamy, wystąpił problem!');
             },
             complete: function (xhr, status) {
                 $("#dapperSpinner").hide();
                 deleteNHibernate();
             }
         });
     }

     function deleteNHibernate() {
        var ids = JSON.parse($("#idsNHibernateParam").val());
        $("#nHibernateSpinner").show();
         $.ajax({
             url: '/NHibernate/Delete',
             data: { ids: ids },
             type: 'POST',
             dataType: 'json',
             success: function (data) {

                 if(data.result[0] == null)
                     $("#resultNHibernate").html("Nie stworzono");
                 else{
                    $("#resultNHibernate").html(JSON.stringify(data.result, null, 4));
                 }

                 $("#nHibernateTime").html(data.time);
             },
             error: function (xhr, status) {
                 alert('Przepraszamy, wystąpił problem!');
             },
             complete: function (xhr, status) {
                 $("#nHibernateSpinner").hide();
             }
         });
     }

</script>
}
