@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Start</h1>
    <p>W tym przykładzie przykładzie przykładzie przykładzie przykładzie przykładzie przykładzie przykładzie przykładzie przykładzie</p>
</div>
